.header {
  position: sticky;
  background-color: var(--black);
  width: 100%;
  left: 0;
  top: 0;
  padding: 1.5rem 0;
  border-bottom: 1px solid var(--jet);
  z-index: 20;
  @media (max-width: 768px) {
    padding: 1rem 0;
  }
  .__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    color: var(--text-primary);
    gap: 32px;
  }

  .logo {
    position: relative;
    z-index: 3;
    .mobile {
      display: none;
    }
    @media (max-width: 768px) {
      .desktop {
        display: none;
      }
      .mobile {
        display: block;
      }
    }
  }

  .nav {
    flex: 1;

    &::before {
      content: '';
      position: fixed;
      width: 100%;
      height: 96px;
      top: 0px;
      right: -100%;
      z-index: 1;
      background-color: var(--black);
      transition: right 0.3s ease-in-out;
      border-bottom: 1px solid var(--jet);
      @media (max-width: 768px) {
        height: 80px;
      }
    }
    ul {
      display: flex;
      flex-wrap: wrap;

      align-items: center;
      @media (max-width: 1280px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
    li {
      padding: 12px 12px 8px 12px;
      &:last-child {
        @media (min-width: 1280px) {
          display: none;
        }
      }
    }

    a {
      font-size: 1.125rem;
      line-height: 1.55;
      text-decoration: none;
      font-weight: 500;
      position: relative;
      transition: color 0.2s;
      &::before {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        bottom: -4px;
        left: 50%;
        background-color: var(--azure);
        transition: all 0.2s;
      }

      &:hover {
        color: var(--azure);
        &::before {
          width: 100%;
          left: 0;
        }
      }
      &.active {
        color: var(--azure);
      }
    }
  }

  .profile {
    position: relative;

    button {
      padding-left: 16px;
      padding-right: 16px;
      min-width: 178px;
    }

    &.open .dropdown {
      display: flex;
    }
  }
  .actions {
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }

  .burgerIcon {
    position: relative;
    z-index: 3;
    display: none;

    @media (max-width: 768px) {
      .burgerButton {
        padding: 12px;
      }
      .burgerText {
        display: none;
      }
    }
  }

  @media (max-width: 1280px) {
    .nav {
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100%;
      background: var(--dark-grey);
      flex-direction: column;
      transition: right 0.3s ease-in-out;
      overflow-y: auto;
      padding-top: 97px;
      padding-bottom: 36px;

      @media (max-width: 768px) {
        padding-top: 81px;
      }

      a {
        padding: 10px 20px;
      }

      &.open {
        right: 0;
        &::before {
          right: 0;
        }
      }
    }

    .burgerIcon {
      display: block;
    }
  }
}

.copied {
  svg {
    stroke: var(--green) !important;
  }
  span {
    color: var(--green);
  }
}
