.header {
  margin-bottom: 64px;
}

.stepsWrapper {
  padding: 44px 32px 32px 32px;
  position: relative;
  border: 1px solid var(--jet);
  display: grid;
  row-gap: 32px;
  grid-template-columns: 1fr auto 1fr auto 1fr;

  @media (max-width: 1280px) {
    grid-template-columns: 1fr;
  }
}

.stepsTitle {
  font-size: 18px;
  display: inline-block;
  text-transform: uppercase;
  background-color: var(--black);
  padding-left: 16px;
  padding-right: 16px;

  position: absolute;
  top: 0;
  left: 32px;
  transform: translateY(-50%);

  .highliht {
    color: var(--azure);
  }
}

.stepHeader {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.step {
  position: relative;
  padding: 24px;
  width: 100%;

  @media (min-width: 1280px) {
    //flex: 0 1 400px;
  }

  @media (max-width: 1280px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background:
      linear-gradient(currentColor, currentColor) left top,
      linear-gradient(currentColor, currentColor) left top,
      linear-gradient(currentColor, currentColor) right top,
      linear-gradient(currentColor, currentColor) right top,
      linear-gradient(currentColor, currentColor) left bottom,
      linear-gradient(currentColor, currentColor) left bottom,
      linear-gradient(currentColor, currentColor) right bottom,
      linear-gradient(currentColor, currentColor) right bottom;
    background-size:
      16px 2px,
      2px 16px,
      16px 2px,
      2px 16px,
      16px 2px,
      2px 16px,
      16px 2px,
      2px 16px;
    background-repeat: no-repeat;
    z-index: 2;
  }

  .stepTitle {
    font-size: 1.5rem;
    line-height: 1.5;
    text-transform: uppercase;
    margin-bottom: 8px;
    letter-spacing: 0.04em;
  }

  .stepCount {
    font-size: 1.125rem;
    color: var(--azure);
    letter-spacing: 0.02em;
    margin-bottom: 24px;
  }

  .stepDescr {
    font-size: 16px;
    color: var(--platinum);
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .stepContent {
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.divider {
  margin: auto 16px;
  width: 72px;
  height: 2px;
  background-color: var(--moon);
  position: relative;

  @media (max-width: 1279px) {
    display: none;
  }

  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--azure);
    transition: all 0.2s ease 0s;
  }

  &.active {
    &::after {
      width: 100%;
    }
  }
}

.stepItems {
  display: grid;
  row-gap: 16px;
  width: 100%;

  .stepItem {
    padding: 8px 16px;
    border: 1px solid var(--jet);
    display: flex;
    align-items: center;
    column-gap: 10px;
    transition: all 0.3s ease 0s;

    span {
      font-size: 18px;
      line-height: 1.5;
      letter-spacing: 0.02em;
    }

    svg {
      stroke: var(--azure);
    }
  }
}

.widget {
  padding: 32px;
  border: 1px solid var(--jet);
  display: flex;
  gap: 32px;
  margin-top: 64px;

  @media (max-width: 768px) {
    flex-direction: column;
    margin-top: 48px;
  }
}

.widgetImg {
  width: 164px;
  height: 164px;
  flex-shrink: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background:
      linear-gradient(currentColor, currentColor) left top,
      linear-gradient(currentColor, currentColor) left top,
      linear-gradient(currentColor, currentColor) right top,
      linear-gradient(currentColor, currentColor) right top,
      linear-gradient(currentColor, currentColor) left bottom,
      linear-gradient(currentColor, currentColor) left bottom,
      linear-gradient(currentColor, currentColor) right bottom,
      linear-gradient(currentColor, currentColor) right bottom;
    background-size:
      16px 2px,
      2px 16px,
      16px 2px,
      2px 16px,
      16px 2px,
      2px 16px,
      16px 2px,
      2px 16px;
    background-repeat: no-repeat;
    z-index: 2;
  }
}

.widgetContent {
  display: grid;
  row-gap: 16px;
}

.comingSoon {
  display: inline-flex;
  align-items: center;
  column-gap: 12px;
  span {
    color: var(--azure);
  }
}

.stepBorder {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.anim {
  opacity: 0;
}

.step.active .anim {
  opacity: 1;
  animation: stroke-fill 1.5s linear forwards;
}

@keyframes stroke-fill {
  from {
    stroke-dasharray: 0 2500;
  }
  to {
    stroke-dasharray: 2500 0;
  }
}

.stepItem {
  position: relative;
  border: 1px solid var(--jet);

  background:
    linear-gradient(var(--azure), var(--azure)) left top,
    linear-gradient(var(--azure), var(--azure)) right top,
    linear-gradient(var(--azure), var(--azure)) right bottom,
    linear-gradient(var(--azure), var(--azure)) left bottom;

  background-size:
    0 2px,
    2px 0,
    0 2px,
    2px 0;

  background-repeat: no-repeat;
}
.stepItem.active {
  animation: item-border 0.5s linear forwards;
}
@keyframes item-border {
  0% {
    background-size:
      0 2px,
      2px 0,
      0 2px,
      2px 0;
  }

  25% {
    background-size:
      100% 2px,
      2px 0,
      0 2px,
      2px 0;
  }

  50% {
    background-size:
      100% 2px,
      2px 100%,
      0 2px,
      2px 0;
  }

  75% {
    background-size:
      100% 2px,
      2px 100%,
      100% 2px,
      2px 0;
  }

  100% {
    background-size:
      100% 2px,
      2px 100%,
      100% 2px,
      2px 100%;
  }
}

@media (max-width: 475px) {
  @keyframes stroke-fill {
    from {
      stroke-dasharray: 0 1600;
    }
    to {
      stroke-dasharray: 1600 0;
    }
  }
}

@media (min-width: 475px) and (max-width: 1023px) {
  @keyframes stroke-fill {
    from {
      stroke-dasharray: 0 2500;
    }
    to {
      stroke-dasharray: 2500 0;
    }
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  @keyframes stroke-fill {
    from {
      stroke-dasharray: 0 3000;
    }
    to {
      stroke-dasharray: 3000 0;
    }
  }
}

@media (min-width: 1280px) {
  @keyframes stroke-fill {
    from {
      stroke-dasharray: 0 1600;
    }
    to {
      stroke-dasharray: 1600 0;
    }
  }
}
