.progressBar {
  position: relative;
  height: 12px;
  background-color: var(--azure-008);
  border-radius: 9999px;
  border: 1px solid var(--jet);
  overflow: hidden;
}

.progressLine {
  height: 100%;
  background-color: var(--azure);
  border-radius: inherit;
  width: 0;
  transition: width 0.6s ease;
}
