.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2rem;
  gap: 2rem;
  padding-bottom: 32px;
  border-bottom: 1px solid var(--jet);

  @media (max-width: 1280px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.title {
  margin-bottom: 1rem;
}

.tabs {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;

  @media (min-width: 768px) {
    column-gap: 24px;
    row-gap: 16px;
  }
}

.tab {
  padding: 8px 16px;
  border: 1px solid var(--jet);
  background: transparent;
  color: var(--moon);
  font-size: 1rem;
  line-height: 1.5;
  max-height: 40px;
  cursor: pointer;
  transition: all 0.3s ease 0s;

  span {
    color: var(--platinum);
  }

  &:hover {
    border-color: var(--azure);
    color: var(--azure);
  }
}

.active {
  border-color: var(--azure);
  color: var(--azure);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  align-content: start;
  align-items: start;

  @media (max-width: 1280px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.card {
  padding: 32px;
  display: flex;
  align-items: center;
  gap: 12px;
  border-right: 1px solid var(--jet);
  border-bottom: 1px solid var(--jet);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease 0s;
    background: var(--linear-1);
    z-index: -1;
  }

  @media (any-hover: hover) {
    &:hover {
      outline: 1px solid var(--azure);
      &::after {
        opacity: 1;
      }
      .hoverOverlay div {
        opacity: 1;
      }
    }
  }

  @media (max-width: 768px) {
    border-right: transparent;
  }
}
.lastRow {
  border-bottom: transparent;
}
.lastColumn {
  border-right: transparent;
}
.singleRow {
  border: transparent;
}
.cardLogo {
}

.cardBody {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.type {
  font-size: 14px;
  line-height: 1;
  color: var(--azure);
  text-transform: capitalize;
}

.name {
  font-size: 16px;
}

.hoverOverlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 3;

  div {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: var(--azure);
    opacity: 0;
    transition: all 0.3s ease 0s;
  }

  .topLeft {
    top: -4px;
    left: 1px;
    transform: rotate(45deg) translate(-50%, 50%);
  }
  .topRight {
    top: -4px;
    right: 1px;
    transform: rotate(45deg) translate(50%, -50%);
  }
  .bottomLeft {
    bottom: -4px;
    left: 1px;
    transform: rotate(45deg) translate(-50%, 50%);
  }
  .bottomRight {
    bottom: -4px;
    right: 1px;
    transform: rotate(45deg) translate(50%, -50%);
  }
}

.loadMoreBtn {
  margin-top: 32px;
  width: 100%;
}
