$main-font:
  'Lexend',
  system-ui,
  -apple-system,
  BlinkMacSystemFont,
  sans-serif;

//========================================================================================================================================================

//========================================================================================================================================================

:root {
  //colors
  --azure: #3e97ff;
  --azure-008: #3e97ff14;
  --silver: #6e7d8d;
  --platinum: #92a1b1;
  --moon: #e9f3ff;
  --basalt: #595d62;
  --jet: #363636;
  --dark-grey: #131313;
  --black: #000000;
  --black: #000000;
  --unstake: #fd6060;
  --violet: #bd76ff;
  --green: #28c686;
  --blue: #61b8ff;
  --yellow: #f9d93c;
  --orange: #ff9266;
  --white: #ffffff;
  --white-021: #ffffff36;
  --linear-1: linear-gradient(358.02deg, #3e97ff -22.4%, rgba(31, 76, 128, 0.5) 22.39%, rgba(0, 0, 0, 0) 98.59%);
  --linear-2: linear-gradient(358.02deg, #3e97ff -22.4%, rgba(31, 76, 128, 0.2) 20.06%, rgba(0, 0, 0, 0) 98.59%);

  //======
  --text-primary: var(--moon);
}

//========================================================================================================================================================
