.body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 80px;

  @media (max-width: 1280px) {
    flex-direction: column;
    row-gap: 32px;
  }
}

.section {
  padding-top: 64px;
  padding-bottom: 0 !important;
}

.left {
  width: 100%;
  min-width: 0;
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  @media (min-width: 1280px) {
    flex: 0 1 532px;
  }
}

.right {
  width: 100%;
  min-width: 0;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  border: 1px solid var(--jet);

  @media (min-width: 1280px) {
    flex: 0 1 860px;
  }
}

.top {
  padding: 32px 16px;
  @media (min-width: 768px) {
    padding: 44px 32px;
  }
}

.bottom {
  border-top: 1px solid var(--jet);
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.bottomItem {
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  justify-content: center;
  align-items: center;
  &:not(:last-child) {
    border-bottom: 1px solid var(--jet);
  }

  @media (min-width: 768px) {
    &:not(:last-child) {
      border-bottom: none;
      border-right: 1px solid var(--jet);
    }
  }

  .value {
    font-size: 1.5rem;
    line-height: 1.5;
    color: var(--azure);
    letter-spacing: 0.04em;

    @media (min-width: 768px) {
      font-size: 2rem;
    }
  }

  .text {
    font-size: 0.875rem;
    line-height: 1.4;
  }
}

.topHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}
.topTitle {
  font-size: 18px;
  line-height: 1.5;
  text-transform: uppercase;
}

.highlight {
  color: var(--azure);
}

.percent {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.04;
  color: var(--azure);

  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
}

.mobDescr {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--azure);
  letter-spacing: 0.04em;

  @media (min-width: 768px) {
    display: none;
  }
}

.splineWrap {
  width: 100%;
  //max-width: 80vw;
  padding-bottom: 27.2%;

  margin: 40px auto;
  position: relative;

  @media (max-width: 768px) {
    padding-bottom: 33%;
    min-height: 260px;
  }

  img {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;

    @media (max-width: 767.98px) {
      &.mobile {
        display: inline-block;
      }
    }
    @media (min-width: 768px) {
      &.desktop {
        display: inline-block;
      }
    }
  }
}

.spline {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}

@media (max-width: 767.98px) {
  .dashIcon,
  .highlight,
  .percent {
    display: none;
  }
}
