.body {
  display: flex;
  justify-content: space-between;
  column-gap: 80px;

  @media (max-width: 1280px) {
    flex-direction: column;
    row-gap: 48px;
  }

  @media (max-width: 768px) {
    row-gap: 16px;
  }
}

.left {
  width: 100%;
  min-width: 0;
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  @media (min-width: 1280px) {
    flex: 0 1 532px;
  }
}

.howToEarn {
  .steps {
    width: 100%;
    min-width: 0;
    display: flex;
    flex-direction: column;

    @media (min-width: 1280px) {
      flex: 0 1 860px;
    }
  }

  .step {
    display: flex;
    align-items: center;
    position: relative;
    padding: 32px;
    transition: all 0.6s ease;

    &::after {
      content: '';
      position: absolute;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: var(--azure);
    }

    @media (max-width: 768px) {
      padding-left: 0;
    }

    @media (max-width: 675px) {
      flex-direction: column;
      row-gap: 32px;
      align-items: flex-start;
    }

    &.visible {
      &::after {
        opacity: 1;
        animation: borderFill 1s linear forwards;
        animation-delay: var(--delay);
      }

      .iconWrapper::after {
        opacity: 0;
        background: var(--linear-1);
        animation: iconBg 1s forwards;
        animation-delay: calc(var(--delay) + 1s);
      }
    }

    .iconWrapper {
      width: 120px;
      height: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        pointer-events: none;

        background:
          linear-gradient(currentColor, currentColor) left top,
          linear-gradient(currentColor, currentColor) left top,
          linear-gradient(currentColor, currentColor) right top,
          linear-gradient(currentColor, currentColor) right top,
          linear-gradient(currentColor, currentColor) left bottom,
          linear-gradient(currentColor, currentColor) left bottom,
          linear-gradient(currentColor, currentColor) right bottom,
          linear-gradient(currentColor, currentColor) right bottom;
        background-size:
          18px 2px,
          2px 18px,
          18px 2px,
          2px 18px,
          18px 2px,
          2px 18px,
          18px 2px,
          2px 18px;
        background-repeat: no-repeat;
        z-index: 2;
      }

      &::after {
        content: '';
        position: absolute;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .content {
      flex: 1 1 auto;

      .stepNumber {
        font-size: 18px;
        display: block;
        color: var(--azure);
        margin-bottom: 24px;
      }

      .stepTitle {
        font-size: 24px;
        line-height: 1.5;
        margin-bottom: 8px;
        letter-spacing: 0.04em;
      }

      .stepDesc {
        color: var(--platinum);
      }
    }
  }
}

@keyframes borderFill {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes iconBg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
