.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

.title {
  margin-bottom: 16px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.desktop,
.tablet,
.mobile {
  display: none;
}

@media (min-width: 1200px) {
  .desktop {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .tablet {
    display: block;
  }
}

@media (max-width: 767px) {
  .mobile {
    display: block;
  }
}
